<tbody> 
  <div id="<%= dom_id post %>">
    <tr>
      <td><%= post.title %></td>
      <td><%= post.body %></td>
      <td><%= link_to "detail", post, class: "btn btn-info" %></td>
    </tr>
  </div>
</tbody>
