<p style="color: green"><%= notice %></p>

<h1 class="text-3xl font-bold italic hover:not-italic">Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>

<button class="btn-primary">ボタンだよ</button>
